 
 
 CultureInfo.GetCultureInfo("tr-tr").TextInfo.ToUpper("ConvertingValue")
 CultureInfo.GetCultureInfo("tr-tr").TextInfo.ToLower("ConvertingValue")
 CultureInfo.GetCultureInfo("tr-tr").TextInfo.ToTitleCase("ConvertingValue")
